<!-- views/partials/header.ejs -->
<meta charset="UTF-8">
<title>TinyApp</title>

<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <!-- <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span> -->

        </a>

        <ul class="nav navbar-nav">
            <a href="/urls">URLS </a>
             <a >   / </a>
            <a href="/login"> Login</a>
            <a >   / </a>
            <a href="/register"> Register</a>
            <a >   / </a>
            <a href="/urls/new"> Add New URL</a>

        </ul>
    </div>
    <h1>My TinyApp</h1>
  <% if(user_id){ %>
   <h3> Hello <%= user_id %> </h3>
   <form method="POST" action= "/logout" >
          <input type="submit" name="" value="Logout"/>
        </form>
<% } %>



</div>
</nav>







