<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>

    <form action="/register" method="POST" style="margin:150px;">
      <label for="email">Your Email Here:</label>
      <input id="email" type="email" name="email" placeholder="Type your email here" style="width: 300px">

    <!-- </form>
     <form action="/register" method="POST" style="margin:150px;"> -->
      <label for="password">Password Here:</label>
      <input id="password" type="password" name="password" placeholder="Your password here" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>